/*---------------------------------
* Services
-----------------------------------*/

.serviceContainer {
  position: relative;
  background: url("../../../public/images/about-bg.png");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 70%);
}