/*---------------------------------
* Skills
-----------------------------------*/

.skillContainer {
  position: relative;
  background: url("../../../public/images/skill-bg.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 60%);
  .skillLeft {
    h3 {
      color: #fff;
      font-weight: 600;
      margin: 0 0 20px;
      font-size: 22px;
    }
    p{
      color: #fff
    }
  }
  .skillRight {

  }
}