@import "styles/variables";

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
}

.showBtn {
  opacity: 1 !important;
  transform: translateY(0) !important;
}